<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039143952128-e0t8265ufasiik5nq7tmcki3e9oqjov3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039143952128-e0t8265ufasiik5nq7tmcki3e9oqjov3</string>
	<key>API_KEY</key>
	<string>AIzaSyDh3Y09QlGnXa6f4OlmZYZp2mpHEDnBtgY</string>
	<key>GCM_SENDER_ID</key>
	<string>1039143952128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-605a9</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-605a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039143952128:ios:c8abb9a629d20a6de05de5</string>
</dict>
</plist>